{% extends 'base.html.twig' %}

{% block title %}My shop{% endblock %}

{% block body %}
    <style>
        .itemClass {
            text-decoration: none;
            color: #222222;
        }

        .itemClass:hover {
            text-decoration: none;
            color: #222222;
        }

        .button {
            background-color: #f44336;
            border: none;
            color: white;
            padding: 15px 32px;
            text-align: center;
            text-decoration: none;
            display: inline-block;
            font-size: 16px;
            margin: 4px 2px;
            cursor: pointer;
        }

    </style>
    <div class="example-wrapper">
        <div class="row">
            {% for item in items %}
                <div class="col-md-4">
                        <div class="card mb-4 shadow-sm">
                            <svg class="bd-placeholder-img card-img-top" width="100%" height="225"
                                 xmlns="http://www.w3.org/2000/svg" preserveAspectRatio="xMidYMid slice"
                                 focusable="false" role="img" aria-label="Placeholder: Thumbnail"><title>
                                    Placeholder</title>
                                <rect width="100%" height="100%" fill="#55595c"></rect>
                                <text x="50%" y="50%" fill="#eceeef" dy=".3em">Thumbnail</text>
                            </svg>

                            <div class="card-body">
                                <h4>{{ item.name }}</h4>
                                <p class="card-text">{{ item.description }}</p>
                                <div class="d-flex justify-content-between align-items-center">
                                    <h5>{{ item.price }} €</h5>
                                </div>
                                <div class="d-flex justify-content-between align-items-center">
                                    <a href="{{ path('order', {'id': item.id}) }}" class="itemClass">
                                        <button class="button">Купить</button>
                                    </a>
                                </div>
                            </div>
                        </div>
                </div>
            {% endfor %}
        </div>
    </div>
{% endblock %}
